.container {
    display: flex;
    margin: auto;
}
.event_container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 70px 0 90px;
}

.event p {
    display: flex;
    color: black;
    float: left;
}
