.info_container{
    width: 100%;
    height: 565px;
    background: url('/public/info/bg_brand.jpg') no-repeat fixed top left;
    margin-bottom: 100px;
    background-position-y: 10%;
}
.info_img{
   float: left;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
}

.info_list li{
    float: left;
    margin: 50px 0 27px 27px
}

.info_list {
    margin-left: 300px;
}

.info_img .img3{
    margin-top: -200px;
}

.info_img .img4{
    margin-top: -50px;
    margin-left: -20px;
}
.info_img .img2{
    margin-left: -20px;
}
