.last{
    text-align: center;

}
.last_item{
    margin-top: 30px;
}
.last .img1{
    width: 540px;
    height: 176px;
    padding-right: 20px;
}

.last .img2{
    width: 540px;
    height: 176px;
    position: relative;
    left: 13px;
}
