.new_list_a{
    text-align: center;
    margin-bottom: 60px;
}
.new_list {
    margin-left: 8%;
    margin-top: 20px;
    text-align: center;
    width: 1600px;
    display: block;
}

.s_thum {
    margin-left: -20px;
    margin-right: -5px;
    flex-basis: calc(25% - 20px);
    display: block;
    margin-bottom: 20px;
}

.list_01,
.list_02 {
    border: 0;
    margin-left: 200px;
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.m_tit {
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.list_01 .lazyload,
.list_02 .lazyload {
    display: block;
    text-align: center;
}

.list_01 img,
.list_02 img {
    background-color: #f0f0f0;
    width: 90%;
}

.goods_bold,
.goods_pricing {
    margin-top: 20px;
    margin-left: -18px;
    text-align: center;
    font-size: 12px;
}

.new_tit {
    margin-bottom: 10px;
    font-size: 20px;
}

.on_over{
    display: none;
}

.btn_roll:hover .on_over{
    display: inline;
}


.btn_roll:hover .off_over{
    display: none;
}

.btn_roll:active .list_02 {
    display: inline;
}


.new_list_btn{
    text-align: center;
    cursor: pointer;
}

.list_02{
    display: none;
}

.list_02.visible{
    display: flex;
}
