/* 공통 스타일 */
.txt_box {
    padding: 15px;
}

.txt_box h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.txt_box p {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
    color: #666666;
}

.list ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.list ul li {
    width: 30%;
    margin-bottom: 20px;
    border-top: 1px solid #D9D9D9;
    padding: 12px 0;
}

.list ul li a {
    display: block;
    text-decoration: none;
    color: #333333;
}

.list ul li .txt_box {
    padding: 10px;
}

/* 메인 케이스 */
.curation_main .contents .main_case {
    float: left;
}

.curation_main .contents .sub_case {
    float: left;
}

/* 이미지 */
.curation_main .contents .sub_case .item .thumb .img_box img{
    width: 286px;
    height: 361px;
    object-fit: cover;
}

.curation_main .contents .main_case .item .img_box img{
    width: 448px;
    height: 404px;
    object-fit: cover;
}
.curation_main .contents .main_case .item{
    position: relative;
    margin-bottom: 20px;
}
.curation_main .contents .sub_case .item{
    padding: 0 20px;
    float: left;
    position: relative;
    width: 326px;
    height: 838px;
}
    /* 부가 스타일 */
.curation_main {
    background-color: #F0F0F0;
    padding-bottom: 52px;
    height: 1000px;
}

.area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 1240px;
    height: 1000px;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

.m_tit {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
}

.item {
    margin-bottom: 20px;
}

.curation_main .contents {
    width: 1100px;
    margin: 0 auto;
}
.main_case .item .txt_box {
    position: absolute;
    left: 25px;
    bottom: 26px;
    padding-right: 25px;
    right: 0;
    color: white;
}

.main_case .item .txt_box h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
}

.main_case .item .txt_box p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-height: 24px;
    overflow: hidden;
}

.curation_main .contents .sub_case .item .list ul li a {
    font-size: 12px;
    float: left;
    width: 256px;
    display: flex;
    align-items: center;
}