.service_list img{
    padding: 0;
    margin-right: 5px;
}

.service{
    text-align: center;
    margin-left: -30px;
}

.service_text {
    font-size: 24px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: "Noto Sans KR SemiBold", serif;
    margin-bottom: 12px;
    margin-top: 10px;
}

.service_list{
    display: inline-flex;
}