.slider2 img{
    display: inline-flex;
    height: 190px;
    padding: 10px;
}

.slider2 .slide{
    width: 200px;
    margin-left: 20px;
}
.slider2{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}